<div class="container-fluid bg-white rounded shadow-sm p-3">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div>
      <h5 class="mb-1">Teams</h5>
      <small class="text-muted">Manage your teams</small>
    </div>
    <!-- Button trigger modal -->
    <button class="btn btn-primary" (click)="openModal()">
      <i class="bi bi-plus-circle me-1"></i>Add Team
    </button>
  </div>
  <div class="mb-3">
    <input
      type="text"
      name="search"
      class="form-control"
      placeholder="Search teams..."
    />
  </div>
  <div class="table-responsive">
    <div class="card overflow-hidden">
      <table
        class="table table-bordered table-hover align-middle mb-0 responsive-table"
      >
        <thead class="table-light">
          <tr>
            <th>Team ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Permissions</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of teams$ | async">
            <td data-label="Team ID">{{ item.team_id }}</td>
            <td data-label="Name">{{ item.name }}</td>
            <td data-label="Description">{{ item.description }}</td>
            <td data-label="Permissions">
              <div  class="">
                Permissions
                <span class="badge text-bg-success">
                  ({{ item.permissions?.length || 0 }})
                </span>
              </div>
            </td>

            <td data-label="Actions" class="d-flex flex-column flex-md-row  gap-2">
              <button
                (click)="openModal(item)"
                class="btn btn-sm btn-outline-primary"
              >
                <span class="me-2">Edit</span>
                <i class="bi bi-pencil-square"></i>
              </button>
              <button
                class="btn btn-sm btn-outline-primary"
                (click)="openDetailModal(item)"
              >
                View
                <i class="bi bi-eye-fill"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
