.sidebar {
  width: 250px;
  transition: width 0.3s ease, padding 0.3s ease;
  overflow: hidden;
  min-height: 100vh;
}

.sidebar.collapsed {
  width: 0;
  padding: 0;
}
.custom-link {
  border-radius: 8px;
  padding: 10px 12px;
  transition: all 0.1s ease-in-out;
  color: #333;
}

.custom-link:hover {
  background-color: #e9f3ff;
  color: #0d6efd;
  border-left: 4px solid #0d6efd;
  text-decoration: none;
}

.active-link {
  background-color: #dbeeff;
  color: #0d6efd !important;
  font-weight: 600;
  border-left: 4px solid #0d6efd;
}
